@use "../../../styles/variables/colors.scss";

.btn {
  width: 200px;
  height: 40px;

  color: colors.$btn_gen;

  text-transform: uppercase;
  background-color: transparent;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: relative;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 2px;
    right: 2px;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }
  &.focus {
    color: colors.$btn_hover-dark;
    background-color: transparent;
    // background-color: colors.$btn_hover-dark;
    border: 1px solid colors.$btn_hover-dark;
  }
  &.focus:hover {
    color: colors.$btn_hover;
    font-weight: 700;
    border: 3px solid colors.$btn_hover-dark;
    box-shadow: 1px 1px 6px 4px colors.$shadow;
    letter-spacing: 0.5px;
    line-height: 1;
  }
}
