@use "../styles/variables/colors.scss";

.pages__cart {
  &.wrapper {
    min-height: calc(100vh - 145px - 62px - (30px * 2) - 20px);
    text-align: center;
  }
  &.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
  }
}

.btn__to-order {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart__switcher-wrap {
  display: flex;
  column-gap: 15px;
  margin-right: 5px;
}
