@use "../../../styles/variables/colors.scss";

.label__order {
  width: 100%;
  position: relative;
  &.phone {
    width: calc(50% - 12px);
  }
}

.label__title {
  color: colors.$gen_dark-blue;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;

  margin-bottom: 10px;
  padding-left: 20px;

  user-select: none;
}

.input__order {
  width: 100%;
  height: 45px;

  // color: colors.$btn_hover;
  // color: colors.$gen_dark;
  color: #709aed;
  font-size: 16px;

  padding: 0 20px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid colors.$gen_dark;

  &:focus {
    color: colors.$btn_hover;
    background-color: colors.$bg_body;

    border: none;
    outline: 2px solid colors.$btn_hover;
    padding: 15px 19px;
    box-shadow: 1px 1px 6px 5px colors.$shadow-extra;
  }

  &::placeholder {
    color: colors.$gen;
    font-size: 12px;
    letter-spacing: 1px;
    // background-color: gold;
  }

  &:focus::placeholder {
    color: colors.$gen_dark-blue;
  }
}

.label__order:hover {
  .label__title {
    color: colors.$btn_hover;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .input__order {
    // border: 2px solid colors.$btn_hover;
    border: none;
    outline: 2px solid colors.$btn_hover;
    padding: 15px 19px;
    box-shadow: 0px 0px 8px 6px colors.$shadow-extra;
  }
}

.error-message {
  color: salmon;
  font-size: 12px;

  position: absolute;
  // top: 7px;
  // left: 20px;
  margin-top: 7px;
  margin-left: 20px;

  &.input__order {
    color: salmon;
    background-color: salmon;

    border: none;
    outline: 2px solid salmon;
    padding: 15px 19px;
    box-shadow: 1px 1px 6px 5px salmon;
  }
}

.error-input {
  color: salmon;
  border: 1px solid salmon;
  outline: 1px solid salmon;

  &:focus {
    color: salmon;
    // background-color: salmon;

    border: none;
    outline: 2px solid salmon;
    padding: 15px 19px;
    box-shadow: 1px 1px 5px 4px rgba(250, 128, 114, 0.603);
  }
  &::placeholder {
    color: salmon;
    font-size: 12px;
    opacity: 0.4;
  }
  &:hover {
    color: salmon;
    border: 1px solid salmon;
    outline: 1px solid salmon;
  }
  // &:focus::placeholder {
  //   color: salmon;
  // }
}
